@font-face {
    font-family: "Exo";
    src: url("assets/Exo2-VariableFont_wght.ttf");
}

* {
    font-family: "Exo";
    user-select: none;
}

.editors {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-between;
    display:none;
}

.editor,
.editor2 {
    height: 500px;
    width: 100%;
    overflow-y: scroll;
}

.editor2 {
    margin-top: 0;
}

.float:active {
    border: 1px solid #00416a;
    background: #fff;
    color: #00416a;
}

.float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #00416a;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
}

.my-float {
    margin-top: 22px;
}


/* .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #00416a;
    color: #fff;
    text-align: center;
} */